body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    text-align: justify;
}

.container {
    background-color: #ffcd5fff;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 15px 10px;
    background-color: #4affe0ff;
}

.wrapper::after {
    display: table;
    clear: both;
    content: '';
}


@media only screen and (min-width: 1224px) {
    .wrapper {
        background-color: #fff;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .wrapper {
        width: 640px;
        color: #fff;
        background-color: #000;
    }
}


@media only screen and (max-device-width: 480px) {
    .wrapper {
        width: 90%;
        background-color: #343434;
    }
}