body
{
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
}

p
{
    margin-top: 0;

    text-align: justify;
}

.container
{
    background-color: #ffcd5fff;
}

.wrapper
{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 10px;

    background-color: #4affe0ff;
}

.wrapper::after
{
    display: table;
    clear: both;

    content: '';
}

.topnav
{
    overflow: hidden;

    background-color: #333;
}

.topnav a
{
    font-size: 17px;

    display: block;
    float: left;

    padding: 14px 16px;

    text-align: center;
    text-decoration: none;

    color: #f2f2f2;
}

.topnav a:hover
{
    color: black;
    background-color: #ddd;
}

.active
{
    color: white;
    background-color: #4caf50;
}

.topnav .icon
{
    display: none;
}

@media screen and (max-width: 600px)
{
    .topnav a:not(:first-child)
    {
        display: none;
    }
    .topnav a.icon
    {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 600px)
{
    .topnav.responsive
    {
        position: relative;
    }
    .topnav.responsive .icon
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    .topnav.responsive a
    {
        display: block;
        float: none;

        text-align: left;
    }
}


@media only screen and (min-width: 1224px)
{
    .wrapper
    {
        background-color: #fff;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{
    .wrapper
    {
        width: 640px;

        color: #fff;
        background-color: #000;
    }
}


@media only screen and (max-device-width: 480px)
{
    .wrapper
    {
        width: 90%;

        background-color: #343434;
    }
}
